Repository impatient0/java-explore-with-me-plus, pull requests merged in 2025-06, with the labels that each got.

#96 добавила эндпоинты на удаление коммента
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/admin/AdminCommentController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/priv/PrivateCommentController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentServiceImpl.java
Labels: api:admin, api:private, feature:comments

#101 Comments Admin API: Получение списка комментариев с фильтрацией
  .run/stats-local.run.xml
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/admin/AdminCommentController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/CommentRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentServiceImpl.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/EventServiceImpl.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/params/AdminCommentSearchParams.java
  main-service/src/main/resources/application-test.yaml
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/admin/AdminCommentControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/CommentServiceImplTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/CommentServiceIntegrationTest.java
Labels: api:admin, feature:comments

#105 Comments Admin API: CommentAdminDto с флагом isDeleted
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/admin/AdminCommentController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/CommentAdminDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/CommentMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentServiceImpl.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/admin/AdminCommentControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/mapper/CommentMapperTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/CommentServiceImplTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/CommentServiceIntegrationTest.java
Labels: enhancement, api:admin, feature:comments

#106 Обновление README.md после реализации Этапа 3 (Комментарии)
  README.md
Labels: documentation, enhancement
