Repository impatient0/java-explore-with-me-plus, pull requests merged in 2025-05, with the labels that each got.

#23 Добавление README и локальной конфигурации запуска
  .run/stats-local.run.xml
  README.md
Labels: documentation, project

#24 Создание stub-имплементации контроллера
  .run/stats-local.run.xml
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/StatsServerApplication.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/controller/StatsController.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/model/EndpointHit.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/service/StatsService.java
Labels: stats-server, blocker

#27 Изменения в тесты Dto классов
  stats-service/stats-dto/pom.xml
  stats-service/stats-dto/src/main/java/ru/practicum/explorewithme/stats/dto/EndpointHitDto.java
  stats-service/stats-dto/src/test/java/ru/practicum/explorewithme/stats/dto/EndpointHitDtoTest.java
  stats-service/stats-dto/src/test/java/ru/practicum/explorewithme/stats/dto/ViewStatsDtoTest.java
Labels: stats-dto

#28 Stats Server: Реализация бизнес-логики и финализация Docker-конфигурации
  compose.yaml
  ewm-common/pom.xml
  ewm-common/src/main/java/ru/practicum/explorewithme/common/error/ApiError.java
  main-service/src/main/resources/application.yaml
  main-service/src/main/resources/schema.sql
  pom.xml
  stats-service/stats-dto/pom.xml
  stats-service/stats-dto/src/main/java/ru/practicum/explorewithme/stats/dto/EndpointHitDto.java
  stats-service/stats-dto/src/main/java/ru/practicum/explorewithme/stats/dto/ViewStatsDto.java
  stats-service/stats-dto/src/test/java/ru/practicum/explorewithme/stats/dto/EndpointHitDtoTest.java
  stats-service/stats-dto/src/test/java/ru/practicum/explorewithme/stats/dto/ViewStatsDtoTest.java
  stats-service/stats-server/pom.xml
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/error/GlobalExceptionHandler.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/mapper/EndpointHitMapper.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/mapper/EndpointHitMapperImpl.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/model/EndpointHit.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/service/StatsService.java
  stats-service/stats-server/src/main/java/ru/practicum/explorewithme/stats/server/service/StatsServiceImpl.java
  stats-service/stats-server/src/main/resources/application.yaml
  stats-service/stats-server/src/main/resources/schema.sql
  stats-service/stats-server/src/test/java/ru/practicum/explorewithme/stats/server/service/StatsServiceImplTest.java
Labels: stats-server

#65 Admin API: Реализация поиска и фильтрации событий
  main-service/pom.xml
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/admin/AdminEventController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/CategoryDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/EventFullDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/UserShortDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/error/GlobalExceptionHandler.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/CategoryMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/EventMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/UserMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Category.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Compilation.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Event.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/EventState.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Location.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/ParticipationRequest.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/RequestStatus.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/User.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/EventRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/EventService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/EventServiceImpl.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/params/AdminEventSearchParams.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/admin/AdminEventControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/mapper/EventMapperTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/repository/EventRepositoryTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/EventServiceImplTest.java
  pom.xml
  stats-service/stats-server/pom.xml
Labels: feature:events, api:admin

#67 CORE: Рефакторинг сущностей (JPA Auditing, значения по умолчанию, Builder)
  main-service/src/main/java/ru/practicum/explorewithme/main/config/JpaAuditingConfig.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Compilation.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Event.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/ParticipationRequest.java
  main-service/src/main/resources/schema.sql
Labels: feature: core, refactor

#69 Создание необходимого для работы ветки Сategories
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/admin/AdminCategoryController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/pub/PublicCategoryController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/CategoryDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/NewCategoryDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/error/EntityDeletedException.java
  main-service/src/main/java/ru/practicum/explorewithme/main/error/GlobalExceptionHandler.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/CategoryMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/UserMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Category.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/CategoryRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/EventRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CategoryService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CategoryServiceImpl.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/admin/AdminCategoryControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/admin/AdminUserControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/pub/PublicCategoryControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/mapper/CategoryMapperTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/mapper/UserMapperTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/CategoryServiceIntegrationTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/UserServiceIntegrationTest.java
Labels: feature:categories, api:admin, api:public

#73 Добавлены блоки разработки #50 #51 #52
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/priv/PrivateRequestController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/ParticipationRequestDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/RequestMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/RequestRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/RequestService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/RequestServiceImpl.java
Labels: stage 2, feature:requests, api:private

#72 Event Management: пользовательские операции и администрирование
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/admin/AdminEventController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/priv/PrivateEventController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/EventShortDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/NewEventDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/UpdateEventAdminRequestDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/UpdateEventUserRequestDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/error/GlobalExceptionHandler.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/EventMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/EventRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/EventService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/EventServiceImpl.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/admin/AdminEventControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/priv/PrivateEventControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/EventServiceImplTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/EventServiceIntegrationTest.java
Labels: feature:events, api:admin, api:private

#78 Публичные API событий и интеграция StatsClient
  README.md
  main-service/pom.xml
  main-service/src/main/java/ru/practicum/explorewithme/main/MainServiceApplication.java
  main-service/src/main/java/ru/practicum/explorewithme/main/aspect/LogStatsHit.java
  main-service/src/main/java/ru/practicum/explorewithme/main/aspect/StatsHitAspect.java
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/pub/PublicEventController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/NewEventDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/UpdateEventAdminRequestDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/dto/UpdateEventUserRequestDto.java
  main-service/src/main/java/ru/practicum/explorewithme/main/mapper/EventMapper.java
  main-service/src/main/java/ru/practicum/explorewithme/main/model/Event.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/EventRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/RequestRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/EventService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/EventServiceImpl.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/params/PublicEventSearchParams.java
  main-service/src/main/resources/application-local.yaml
  main-service/src/test/java/ru/practicum/explorewithme/main/aspect/StatsHitAspectTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/pub/PublicEventControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/mapper/EventMapperTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/EventServiceImplTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/EventServiceIntegrationTest.java
  stats-service/stats-client/src/main/java/ru/practicum/explorewithme/stats/client/StatsClientImpl.java
  stats-service/stats-client/src/main/java/ru/practicum/explorewithme/stats/client/config/StatsClientModuleConfiguration.java
Labels: feature:core, feature:events, feature:stats-integration, api:public, testing

#97 COMMENTS-PRIVATE: Создание/обновление комментария пользователем #84 и #86
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/priv/PrivateCommentController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentServiceImpl.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/priv/PrivateCommentControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/CommentServiceImplTest.java
Labels: api:private, feature:comments

#99 Добавлена составная Run Configuration 'full-local' для IntelliJ IDEA
  .run/full-local.run.xml
  .run/main-db.run.xml
  .run/main-local.run.xml
  .run/stats-db.run.xml
  .run/stats-local.run.xml
Labels: enhancement

#100 COMMENTS-PRIVATE: Получение списка своих комментариев #88
  main-service/src/main/java/ru/practicum/explorewithme/main/controller/priv/PrivateCommentController.java
  main-service/src/main/java/ru/practicum/explorewithme/main/repository/CommentRepository.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentService.java
  main-service/src/main/java/ru/practicum/explorewithme/main/service/CommentServiceImpl.java
  main-service/src/test/java/ru/practicum/explorewithme/main/controller/priv/PrivateCommentControllerTest.java
  main-service/src/test/java/ru/practicum/explorewithme/main/service/CommentServiceImplTest.java
Labels: stage 3, api:private, feature:comments
